<main class="w-100 m-auto">
  <div class="pt-4 pt-sm-5 pb-4 pb-sm-5">
      <div class="container">
          <div class="row justify-content-center mt-5">
              <div class="col-xxl-4 col-lg-5">

                <div class="card">
                    <div class="card-header pt-4 pb-4 text-center bg-light">
                          <span><img src="http://174.138.92.34/images/logo-madesp.png" alt="logo" height="66"></span>
                    </div>
                      
                    <div class="card-body p-4">
                        <form [formGroup]="loginForm">                     
                            <div class="mb-3">
                                <label for="email" class="form-label">E-mail:</label>
                                <input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="Informe seu email">
                                <div *ngIf="loginForm.get('email')?.errors">
                                    <span class="text-danger"><small>e-mail obrigatório</small></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <a href="#" class="text-muted float-end"><small>Esqueceu sua senha?</small></a>
                                  
                                <label for="password" class="form-label">Senha</label>
                                <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Informe sua senha">
                                <div *ngIf="loginForm.get('password')?.errors">
                                    <span class="text-danger"><small>senha obrigatório</small></span>
                                </div>
                            </div>
                            
                            <div class="mb-3 mb-0 text-center">
                                <button type="submit" class="btn btn-primary" (click)="loginClick()" [disabled]="!loginForm.valid"> ENTRAR </button>
                            </div>
                        </form>
                    </div>
                </div>

              </div>
          </div>
      </div>
  </div>
</main>